@{
    ViewBag.Title = "Tari";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .custom-header {
            font-family: 'Lobster', cursive;
            color: #ff6600;
        }

        .custom-text {
            font-family: 'Lobster', cursive;
            color: #0080ff;
        }

        .custom-button {
            font-family: 'Lobster', cursive;
            background-color: #3399ff;
            color: #ffffff;
            border: 2px solid #3399ff;
            padding: 10px 20px;
            font-size: 16px;
        }

            .custom-button:hover {
                background-color: #1a8cff;
                color: #000000;
                border-color: #1a8cff;
            }

        .custom-textbox {
            font-family: 'Lobster', cursive;
            background-color: #cce6ff;
            border: 1px solid #0080ff;
            padding: 8px;
            font-size: 14px;
        }

            .custom-textbox::placeholder {
                color: #1a8cff;
            }

        .btn-primary {
            background-color: #007bff;
        }

        .card-footer {
            display: flex;
            justify-content: center;
        }

    </style>
</head>

<h2 class="text-center mb-4 custom-header">În ce țară vrei să călătorești?</h2>
@if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible custom-text fade show " role="alert">
        <strong>@ViewBag.Message</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<br />

@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control custom-textbox" placeholder="Caută o țară" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success custom-button" type="submit">Search</button>
    </div>
</form>

<section id="pinBoot">
    @foreach (var tara in ViewBag.Tari)
    {
        <article class="white-panel" onclick="location.href='/Tari/Show/@tara.Id'">
            <h4 class="custom-header">@Html.Raw(tara.Nume)</h4>
        </article>
    }
</section>

<div class="mt-4 d-flex justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.LastPage; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.LastPage ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.LastPage ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.LastPage)" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

