@model MDS.Models.Camera


<h2 class="text-center mt-5">Adaugare Camera</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" action="/Camere/New">

                @Html.Label("Nume", "Nume Camera")
                <br />
                @Html.TextBox("Nume", null, new { @class = "form-control" })
                <br /><br />

                @Html.Label("Capacitate", "Capacitate Camera")
                <br />
                @Html.TextBox("Capacitate", null, new { @class = "form-control" })

                @Html.Label("Descriere", "Descriere Camera")
                <br />
                @Html.TextArea("Descriere", null, new { @class = "summernote" })

                @Html.Label("PretNoapte", "Tarfiul Camerei")
                <br />
                @Html.TextBox("PretNoapte", null, new { @class = "form-control" })

                <br /><br />

                <label>Selectati hotelul</label>
                @Html.DropDownListFor(m => m.HotelId, new SelectList(Model.Hoteluri, "Value", "Text"),
                "Selectati hotelul", new { @class = "form-control" })
                <br />

                <button class="btn btn-success" type="submit">Adauga Camera</button>

            </form>
        </div>
    </div>
</div>