@model MDS.Models.Hotel

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .custom-header {
            font-family: 'Lobster', cursive;
            color: #ff6600;
        }

        .custom-text {
            font-family: 'Lobster', cursive;
            color: #004d99;
        }

        .custom-button {
            font-family: 'Lobster', cursive;
            background-color: #3399ff;
            color: #ffffff;
            border: 2px solid #3399ff;
            padding: 5px 10px;
            font-size: 16px;
        }

            .custom-button:hover {
                background-color: #1a8cff;
                color: #000000;
                border-color: #1a8cff;
            }

        .custom-textbox {
            font-family: 'Lobster', cursive;
            background-color: #cce6ff;
            border: 1px solid #0080ff;
            padding: 8px;
            font-size: 14px;
            color: #1a8cff;
            width: 200px !important;
        }

        .article-container {
            display: inline-block; 
            margin-right: 10px;
            margin-bottom: 10px;
        }

            .custom-textbox::placeholder {
                color: #1a8cff;
            }

        .container{
            display: flex;
            justify-content: center;
        }

        .custom-flex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .custom-flex-item {
            display: flex;
            align-items: center;
            margin-right: 55px;
            margin-left: 55px;
        }

    </style>
</head>


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info custom-text">
        @ViewBag.Message
    </div>
}

<h2 class="text-center mt-5 custom-header"> Caută hotelul perfect pentru tine!</h2>
<br />
<form method="GET">
    <div class="input-group mb-3">
        <input type="date" class="form-control custom-textbox" placeholder="check-in" id="checkinDate" name="checkinDate">
        <input type="date" class="form-control custom-textbox" placeholder="check-out" id="checkoutDate" name="checkoutDate">
        <select class="form-select custom-textbox" aria-label="Țara" name="country">
            <option value="" class="custom-textbox">Selectează țara</option>
            @foreach (var country in ViewBag.Countries)
            {
                <option value="@country.Nume" class="custom-textbox">@country.Nume</option>
            }
        </select>
        <input type="number" class="form-control custom-textbox" placeholder="Număr de persoane" name="numPersons" value="@ViewBag.NumPersons">
        <input type="number" class="form-control custom-textbox" placeholder="Preț minim" name="minPrice" value="@ViewBag.MinPrice">
        <input type="number" class="form-control custom-textbox" placeholder="Preț maxim" name="maxPrice" value="@ViewBag.MaxPrice">
        <select class="form-select custom-textbox" aria-label="Sortare camera" name="sortOrder">
            <option value="" class="custom-textbox">Sortează după:</option>
            <option value="priceAsc" class="custom-textbox">Preț crescător</option>
            <option value="priceDesc" class="custom-textbox">Preț descrescător</option>
        </select>
        <select class="form-select custom-textbox" aria-label="Sortare hoteluri" name="sortOrderHotels">
            <option value="asc" class="custom-textbox">Evaluare crescătoare</option>
            <option value="desc" class="custom-textbox">Evaluare descrescătoare</option>
        </select>
    
    </div>
    <br />
    <label class="custom-header">Facilități dorite:</label>
    <br /> <br />
    <div class="custom-flex-container text-center">
        @foreach (var item in ViewBag.FilterOptions)
        {
            <div class="custom-flex-item">
                <input type="checkbox" name="selectedFilters" value="@item" @(ViewBag.SelectedFilters.Contains(item) ? "checked" : "")>
                <div style="width: 7px;"></div>
                <label class="custom-text"> @item</label>
            </div>
        }
    </div>
    <br />

    <div class="container">
        <button class="btn custom-button" type="submit">Caută</button>
    </div>

</form>


<section id="pinBoot">
    @foreach (var hotel in ViewBag.Hoteluri)
    {
        <article class="white-panel" >
            <h4 class="text-center custom-header">@Html.Raw(hotel.Nume)</h4>
            <br>
            <p class="custom-text"><i class="bi-geo-alt-fill"></i>@Html.Raw(hotel.Locatie)</p>
            <div>
                @for (var i = 1; i <= int.Parse(@Html.Raw(hotel.Rating).ToString()); i++)
                {
                    <span class="starGlow"></span>
                }
                @for (var i = (int.Parse(@Html.Raw(hotel.Rating).ToString()) + 1); i <= 5; i++)
                {
                    <span class="starFade"></span>
                }
            </div>
            <div>
                @if (ViewBag.CamereHoteluri != null && ViewBag.CamereHoteluri.ContainsKey(hotel))
                {
                    var availableRooms = ViewBag.CamereHoteluri[hotel];
                    if (availableRooms.Count > 0)
                    {
                        foreach (MDS.Models.Camera camera in availableRooms)
                        {
                            <div>
                                <div class="custom-text">Capacitate cameră: @camera.Capacitate</div>
                                <div class="custom-text">Tarif total: @(ViewBag.Nrzile * camera.PretNoapte)</div>
                                <p class="card-text mb-3 custom-text">Facilități: @Html.Raw(camera.Descriere)</p>
                                <br />
                                <button class="custom-button" onclick="location.href='/Rezervari/New/@camera.Id'">Rezervă</button>
                            </div>
                        }
                    }
                    else
                    {
                        <div>Nu există camere disponibile pentru acest hotel</div>
                    }
                }

            </div>
        </article>
    }
</section>




<footer>
    <!-- Footer content -->
</footer>

<script>
    $(function () {
        // Initialize the datepickers
        $('#checkinDate, #checkoutDate').datepicker({
            dateFormat: 'yyyy-mm-dd',
            minDate: 0 // Set the minimum date to today
        });
    });
</script>


