@model MDS.Models.Hotel


<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .custom-header {
            font-family: 'Lobster', cursive;
            color: #ff6600;
        }

        .custom-text {
            font-family: 'Lobster', cursive;
        }

        .custom-button {
            font-family: 'Lobster', cursive;
            background-color: #3399ff;
            color: #ffffff;
            border: 2px solid #3399ff;
            padding: 5px 10px;
            font-size: 16px;
        }

            .custom-button:hover {
                background-color: #1a8cff;
                color: #000000;
                border-color: #1a8cff;
            }

        .custom-textbox {
            font-family: 'Lobster', cursive;
            background-color: #cce6ff;
            border: 1px solid #0080ff;
            padding: 8px;
            font-size: 14px;
        }


        .btn-primary {
            background-color: #007bff;
        }

        .card-footer {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<h2 class="text-center mt-5 custom-header">Adaugă un hotel</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" action="/Hoteluri/New">

                @Html.Label("Nume", "Nume")
                <br />
                @Html.TextBox("Nume", null, new { @class = "form-control" })
                <br /><br />

                @Html.Label("Locatie", "Adresă")
                <br />
                @Html.TextBox("Locatie", null, new { @class = "form-control" })

                <br />
                @Html.Label( "DAȚI ENTER DUPĂ FIECARE INSERARE DE IMAGINE/VIDEO"  )
                <br />

                <br />
                @Html.Label("Facilitati", "Descriere")

                @Html.TextArea("Facilitati", null, new { @class = "summernote" })

                @Html.ValidationMessage("Facilitati", null, new { @class = "text-danger" })
                <br /><br />


                <label>Selectați țara</label>
                @Html.DropDownListFor(m => m.TaraId, new SelectList(Model.Tari, "Value", "Text"),
                "Selectați țara", new { @class = "form-control" })
                <br />

                <div class="text-center">
                    <button class="btn btn-success custom-button" type="submit">Adaugă</button>
                </div>

            </form>
        </div>
    </div>
</div>