@model MDS.Models.Rezervare

 

<div class="card-body">


    <h4>@Html.Raw(Model.ListaClienti)</h4>
    <p>@Html.Raw(Model.CheckIn)</p>
    <p>@Html.Raw(Model.CheckOut)</p>
    <p>@Html.Raw(Model.Suma)</p>
    <p>@Html.Raw(Model.CheckIn- Model.CheckOut) timp ocupat</p>
    

       

    </div>


