@model MDS.Models.Rezervare

@{
    ViewBag.Title = "Rezervari";
    var currentDate = DateTime.Now.Date;
}


<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .custom-header {
            font-family: 'Lobster', cursive;
            color: #ff6600;
        }


        .custom-button {
            font-family: 'Lobster', cursive;
            background-color: #3399ff;
            color: #ffffff;
            border: 2px solid #3399ff;
            padding: 5px 10px;
            font-size: 16px;
        }

            .custom-button:hover {
                background-color: #1a8cff;
                color: #000000;
                border-color: #1a8cff;
            }


        .hidden-element {
            display: none;
        }
    </style>
</head>


<h2 class="text-center mt-5 custom-header">Adaugă o rezervare</h2>


@using (Html.BeginForm("New", "Rezervari", new { id = Model.Id }, FormMethod.Post))
{
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@ViewBag.Message</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @Html.Label("CameraId", "Camera aleasă:", new { @class = "hidden-element" })
    <br />
    @Html.TextBox("CameraId", Model.CameraId, new { @class = "form-control hidden-element" })


    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CheckIn, new { htmlAttributes = new { @class = "form-control", Value = currentDate.ToString("yyyy-MM-dd") } })
        @Html.ValidationMessageFor(model => model.CheckIn, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CheckOut, new { htmlAttributes = new { @class = "form-control", Value = currentDate.ToString("yyyy-MM-dd") } })
        @Html.ValidationMessageFor(model => model.CheckOut, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ListaClienti, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ListaClienti, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ListaClienti, "", new { @class = "text-danger" })
    </div>

    <div class="form-group text-center">
        <input type="submit" value="Adaugă" class="btn btn-primary custom-button" />
    </div>
}

@*
<div>
    @Html.ActionLink("Toate rezervarile mele", "RezervarileMele")
</div>
*@