@{
    var reservation = ViewBag.Reservation as MDS.Models.Rezervare;
    var camera = ViewBag.Camera as MDS.Models.Camera;
    }


<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .custom-header {
            font-family: 'Lobster', cursive;
            color: #ff6600;
        }

        .custom-text {
            font-family: 'Lobster', cursive;
        }

        .custom-button {
            font-family: 'Lobster', cursive;
            background-color: #3399ff;
            color: #ffffff;
            border: 2px solid #3399ff;
            padding: 5px 10px;
            font-size: 16px;
        }

            .custom-button:hover {
                background-color: #1a8cff;
                color: #000000;
                border-color: #1a8cff;
            }

        .custom-textbox {
            font-family: 'Lobster', cursive;
            background-color: #cce6ff;
            border: 1px solid #0080ff;
            padding: 8px;
            font-size: 14px;
        }

            .custom-textbox::placeholder {
                color: #1a8cff;
            }

        .btn-primary {
            background-color: #007bff;
        }

        .card-footer {
            display: flex;
            justify-content: center;
        }

    </style>
</head>

    <div class="card">
        <h3 class="custom-header text-center">Detalii Rezervare</h3>
        <br />
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                <h4 class="custom-text">Nume client</h4>
                    
                    <ul class="list-group list-group-flush">
                        @foreach (var client in reservation.ListaClienti.Split(","))
                        {
                            <li class="list-group-item">@client</li>
                        }
                    </ul>
                </div>
                <div class="col-md-6">
                <h4 class="custom-text">Informații cameră</h4>
                    
                    @if (camera != null)
                    {
                    <p class="custom-text"><strong>Nume:</strong> <span class="text-muted">@camera.Nume</span></p>
                    <p class="custom-text"><strong>Capacitate:</strong> <span class="text-muted">@camera.Capacitate</span></p>
                    <p class="custom-text"><strong>Preț pe noapte:</strong> <span class="text-muted">@camera.PretNoapte</span></p>
                    }
                    else
                    {
                        <p>Camera nu este disponibilă</p>
                    }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                <h4 class="custom-text">Check-in</h4>
                    
                <p class="text-muted custom-text">@Html.Raw(reservation.CheckIn)</p>
                </div>
                <div class="col-md-6">
                <h4 class="custom-text">Check-out</h4>
                   
                <p class="text-muted custom-text">@Html.Raw(reservation.CheckOut)</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                <h4 class="custom-text">Suma</h4>
                    
                    <p class="text-muted">@Html.Raw(reservation.Suma)</p>
                </div>
                <div class="col-md-6">
                <h4 class="custom-text">Timp ocupat</h4>
                    
                    <p class="text-muted">@Html.Raw(reservation.CheckOut - reservation.CheckIn)</p>
                </div>
            </div>
            
            @if (reservation.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
            {
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="btn custom-button" href="/Rezervari/Edit/@reservation.Id"><i class="bi bi-pencil-square"></i>Editează</a>
                    </div>
                    <div>
                        <form method="post" action="/Rezervari/Delete/@reservation.Id">
                            <button class="btn custom-button" type="submit"><i class="bi bi-trash"></i>Șterge</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

